/* Common css */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    min-width: 1400px;
    font-size: 16px;
}

p{
    color: #8A8A8A;
    line-height: 22px;
}

h2{
    font-weight: 500;
}

/* Utility  css*/
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.container{
    width: 80%;
    margin: auto;
}

.bg_blue{
    background-color: #0C325A;
}

.bg_grey{
    background-color: #D3D3D3;
}

.btn{
    padding: 8px 24px;
    border-radius: 5px;
}

.btn_big{
    padding: 15px 10px;
    border-radius: 5px;
}

.btn_outline{
    border: 1px solid white;
    margin-right: 15px;
}

.btn_solid{
    background-color: #7CBB02;
}

/*******************
* Site Header css
********************/
header{
    width: 100%;
    height: 550px;
    color: white;
    background-image: url('../img/background-header.png');
    background-size: 1000px;
    background-repeat: no-repeat;
    background-position: 110% 110%;
}

header nav{
    height: 60px;
    padding-top: 10px;
}

header a{
    color: white;
    text-decoration: none;
    font-size: 12px;
    text-transform: uppercase;
    padding-right: 25px;
    line-height: 60px;
}

nav > .logo, .menu_left, .menu_right{
    float: left;
}

/* Logo */
nav > .logo{
    width: 15%;
    margin-top: 5px;
}

/* Menu Left */
nav > .menu_left{
    width: 45%;
}


/* Menu Right */
nav > .menu_right{
    width: 40%;
    text-align: right;
}

header .title{
    margin: 150px 0 20px;
}

h1{
    font-weight: 400;
    font-size: 3.5rem;
    display: inline-block;
    width: 50%;
}

/*******************
* Site Main css
********************/

/* 3 Columns section css */
main .main_top, .main_3_columns{
    text-align: center;
    padding: 30px 0;
}

.main_top > span{
    color: #8A8A8A;
    display: inline-block;
    margin-top: 10px;
}

.main_3_columns .col{
    float: left;
    width: 33.33%;
}

.main_3_columns .box_img_col{
    width: 100%;
    height: 150px;
}

.box_img_col > img{
    height: 100%;
}

.main_3_columns h2{
    color: #7CBB02;
    margin-top: 30px;
    line-height: 30px;
    font-size: 1.5rem;
}

.main_3_columns h2::after{
    content: "";
    width: 60px;
    height: 1px;
    background-color: #BFBFBF;
    display: block;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.main_3_columns .col_left{
    padding-right: 30px;
}

.main_3_columns .col_central{
    padding: 0 25px;
}

.main_3_columns .col_right{
    padding-left: 30px;
}

hr{
    border: 1px solid #E4E4E4;
}

/* 2 Columns section css */

.main_2_columns .col{
    float: left;
    width: 50%;
}

.main_2_columns .box_img_col{
    width: 100%;
    height: 400px;
    margin: 40px 0;
}

.main_2_columns .col_right{
    padding: 50px 120px 0 50px;
}

.main_2_columns p{
    margin: 20px 0;
}

.main_2_columns h2{
    font-size: 2rem;
    line-height: 40px;
}

.main_2_columns a{
    color: #5C8BBF;
}

/*******************
* Site Footer css
********************/

footer nav{
    height: 150px;
}

footer .footer_title, .footer_select, .footer_buttons{
    float: left;
    line-height: 150px;
}

footer .footer_title{
    width: 50%;
}

footer .footer_select{
    width: 25%;
    text-align: right;
}

footer .footer_buttons{
    width: 25%;
    text-align: center;
}

.footer_select span{
    color: #8A8A8A;
    margin-right: 30px;
}

footer select{
    font-size: 1rem;
    color: #8A8A8A;
    background-color: #D3D3D3;
    border-style: none;
    border-bottom: 1px solid #8A8A8A;
    padding-right: 100px;
    margin-right: 5px;
}

footer .footer_buttons ul, li{
    list-style: none;
}

.footer_buttons ul li{
    display: inline-block;
    margin-right: 20px;
}

.footer_buttons a{
    text-decoration: none;
    color: white;
}